#about{
    padding: 0;
    color: purple;

}
.about-col-1 img{
    position: relative;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #af0505;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    padding: 20;
}